html {
    scroll-behavior: smooth;
  }

body {
    background-color: lightblue;
  }

 li {
     display: inline;
 }

 .stopka {
     position: fixed;
     text-align: center;
     bottom: 30px;
 }

 .scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
